/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/productos/new/styles.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.container {
    max-width: 500px;
    width: 90%;
    background: #212b41;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
    
  .container header {
    font-size: 1.2rem;
    color: white;
    font-weight: 200;
    text-align: center;
  }
    
    
  .form .input-box {
    width: 100%;
  }
    
  .input-box label {
    color: rgb(80, 156, 255);
  }
    
  .form :where(.input-box input, .select-box) {
    height: 35px;
    width: 100%;
    font-size: 1rem;
    color: white;
    margin-top: 5px;
    border: 1px solid #3754b4;
    border-radius: 6px;
    padding: 0 15px;
    background: #2f3d5c;
  }
    
  .input-box input:focus {
    box-shadow: 0 1px 0 rgba(173, 228, 241, 0.664);
  }
    
  .form .column {
    display: flex;
    column-gap: 15px;
  }
    
  .form button {
    height: 40px;
    width: 100%;
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 15px;
    border-radius: 6px;
    cursor: pointer;
    background: rgb(59 130 246 );
  }
